.card-area {
  background-color: #8db0cd;
  position: fixed;
  width: 80%;
  height: 100%;
  overflow-y: auto;
  bottom: 0;
  top: 65px;
}

.work-panel {
  background-color: #8db0cd;
  position: fixed;

  left: 80%;
  width: 20%;
  height: calc(100% - 65px);
}
